body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0ece8;
}


.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: .7;
    border-radius: 5px;
}

.join-section-bg {
    background-color: #289BDE;
}

.company {
    margin-bottom: 50px;
}

footer {
    margin-top: 150px;
}

.bg-footer {
    background-color: #161616;
}

.footer-address h6 {
    font-size: 12.5px;
    color: #faebd7;
}